body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  background: linear-gradient(to bottom right, #ff9100, rgb(255, 145, 0));
}

#particles-js {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}